<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="customer_id" column="customer_id" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="total_money" column="total_money" jdbcType="FLOAT"/>
            <result property="paid_money" column="paid_money" jdbcType="FLOAT"/>
            <result property="process_fee" column="process_fee" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,create_time,
        update_time,is_deleted,time,
        note,total_money,paid_money,
        process_fee
    </sql>
</mapper>
